{% extends "index.html" %}

{% block announce %}{% endblock %}

{% block content %}

<script src="https://kit.fontawesome.com/79ff35ecec.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../../assets/css/index.css">
<link rel="stylesheet" href="../assets/css/404.css">

<nav class="main-navigation">
  <ul>
    <li><a class="home" href="https://teddywarner.com"><span class="navnum">01</span> Home</a></li>
    <li><a class="proj" href="https://teddywarner.com/proj/"><span class="navnum">02</span> Projects</a></li>
    <li><a class="writ" href="https://teddywarner.com/writ/"><span class="navnum">03</span> Writing</a></li>
  </ul>
</nav>

<main class="error-container">
  <div class="error-content">
    <h1>404</h1>
    <h2>Page Not Found</h2>
    <p>The page you're looking for doesn't exist or has been moved.</p>
    <a href="https://teddywarner.com" class="home-button">
      <i class="fa-solid fa-arrow-left"></i>
      Return Home
    </a>
  </div>
</main>

{% endblock %}