site_name: Teddy Warner
site_author: Teddy Warner
site_description: >-
    i make machines. // @WarnerTeddy

site_url: https://theodore.net/

repo_url: https://github.com/Twarner491/theodore.net
repo_name: Twarner491/theodore.net

copyright: >
  Copyright &copy; 2026 Teddy Warner

extra:
  analytics:
    provider: google
    property: !ENV GOOGLE_ANALYTICS_KEY

theme:
  name: material
  custom_dir: overrides

  palette:
    - scheme: default
      primary: black
      accent: black
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      primary: black
      accent: white
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

  language: en

  font:
    text: Fira Sans
    code: Ubuntu Mono
  
  # Add font-display configuration
  font_display: swap

  logo: assets/images/TeddyWarner.svg

  favicon: assets/images/favicon.gif

  icon:
    repo: fontawesome/brands/git-alt
                          
  features:
   - navigation.instant
   - navigation.tracking
   - navigation.tabs
   - navigation.expand
   - content.code.annotate
   - search.share
   - search.suggest
   - search.highlight
   - content.tabs.link
   - announce.dismiss

plugins:
  - material/search:
      separator: '[\s\-\.\,\:\;\!\?\(\)\[\]\{\}\/]+'
  - tags
  - rss:
      enabled: !ENV [CI, false]
      match_path: "(Projects|writings)/.*"
      date_from_meta:
        as_creation: date
        as_update: date_modified
        default_timezone: America/New_York
        default_time: "00:00"
      categories:
        - tags
      feeds_filenames:
        rss_created: feed.xml
      json_feed_enabled: false
      use_material_social_cards: false
      feed_ttl: 1440
      image: https://theodore.net/assets/images/favicon.gif
      abstract_chars_count: 200
      pretty_print: true
      length: 100

hooks:
  - hooks/rss_dates.py
  - hooks/content_lists.py
  - hooks/case_redirects.py

watch:
  - docs
  - overrides
  - hooks
  - docs/assets/css
  - docs/assets/js

markdown_extensions:
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons
  - pymdownx.details
  - extra
  - smarty
  - admonition
  - attr_list
  - codehilite:
      guess_lang: false
  - toc:
      permalink: true
  - meta
  - footnotes
  - abbr
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - md_in_html
  - pymdownx.tabbed:
      alternate_style: true 
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.arithmatex:
      generic: true

extra_css:
  - assets/css/extra.css

extra:
  analytics:
    provider: google
    property: !ENV GOOGLE_ANALYTICS_KEY

extra_javascript:
  - assets/js/error-suppressor.js
  - assets/js/index.js

nav:
  - Home : https://theodore.net
  - Projects:  https://theodore.net/projects/
  - Writings:  https://theodore.net/writings/