.profilepic {
  display: inline;
  float: left; 
  margin-top: -7px;
  width: 35px;
  height: 34px;
  border-radius: 50%;
}

.abtlinks a {
  color: var(--md-default-fg-color);
}

.share {
  float:right;
  margin-top: 0px;
  font-size: 1.1em;
}

.share a {
  color: inherit;
}

.twitter {
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.share a.twitter:hover {
  color: #00acee;
}

.fb {
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.share a.fb:hover {
  color: #3b5998;
}

.pin {
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.share a.pin:hover {
  color: 	#E60023;
}

.ln {
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.share a.ln:hover {
  color: #0e76a8;
}

.email {
  padding-left: 0.2em;
  padding-right: 1.5em;
}

@media (max-width: 40.55384615384616em) {
  .share {
    margin-top: -3.5em;
    margin-right: -1.4em;
  } 
}

@media (max-width: 37.4em) {
  .share {
    margin-top: -4.8em;
    margin-right: -1.4em;
  } 
}

 @media (max-width: 35em) {
  .year {
    display: none;
  }
  .share {
    font-size: 1em;
    margin-top: 0.05em;
    margin-right: -1.5em;
  } 
}
 
 @media (max-width: 28em) {
   .profilepic {
    margin-top: -4.5px;
    width: 30px;
    height: 30px;
  }
  .abtlinks {
    font-size: 0.9em;
   }
  .year {
    display: none;
  }
  .share {
    font-size: 0.9em;
    margin-top: 0.05em;
    margin-right: -1.5em;
  } 
}