:root {
    --lightdisplaystyle: inline;
    --darkdisplaystyle: none;
  }

[data-md-color-scheme="slate"] {
    --lightdisplaystyle: none;
    --darkdisplaystyle: inline;
}

@media (max-width: 400px) {
  .announcelarge {
    display: none;
  }
}

.stuff {
  height: 100%;
  width: 100%;
}

.stuff__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
  overflow-y: auto;
}

.stuff__content {
  padding: 2em 0;
  width: 100%;
  height: auto;
}

.stuff__header {
  overflow: hidden;
}

.stuff__content h2 {
  margin-top: 0px;
}

.sidebarparent {
  height: 100vh;
  width: 100%;
}

.sidebar {
  width: 100%;
  position: sticky;
  top: 112px;
  left: -22em;
  height: auto;
}

.sidebar h1 {
  margin-bottom: -37px;
}

.sidebar h2 {
  margin-bottom: -14px;
}

.profilepic {
  margin-bottom: -12px;
  width: 255px;
  height: 255px;
  border-radius: 50%;
}

.socials {
  margin-top: -25px;
}

.ln {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.fa-linkedin:hover {
    color: #0e76a8;
}

.git {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.fa-github:hover {
background: linear-gradient(155deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.yt {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.fa-youtube:hover {
  color:#FF0000;
}

.insta {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.fa-instagram:hover {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.twitter {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.fa-twitter:hover {
    color: #00acee;
}

.discord {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.fa-discord:hover {
    color: #5865F2;
}

.spotify {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.fa-spotify:hover {
    color: #1DB954;
}

.email {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.fa-paper-plane:hover {
    color: #5466ce;
}

.resume {
  float:right;
  margin-top: 9px;
}

.resume a {
  color: inherit;
}

.date{
  float:right;
  height: 50px;
  width: 100px;
  margin-top: 0px;
  margin-bottom: -45px;
  text-align: right;
}

.underline{
  height: 4.5px;
  width: 55px;
  background-color: var(--md-default-fg-color);
  margin-top: -35px;
  border-radius: 5px;
}

.instafeed {
  margin-top: -1em;
  height: 31.3em;
  overflow-y: hidden;
} 

.instalight {
  display: var(--lightdisplaystyle);
}

.instadark {
  display: var(--darkdisplaystyle);
}

.music {
   margin-bottom: -50px;
}

.coffeelarge {
    width: 175px;
    height: 35px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin-top: 12px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    background-image: linear-gradient(315deg, #7183f0, #5466ce, #000000, #000000);
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.coffeelarge:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.typed-parent {
}

.featured-articles {
  position: relative;
  top: -21em;
  height: 18em;
  width: 100%;
}
.article-scroller {
  width: 100%;
  height: auto;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-left: 20px;
}
.article-scroller::-webkit-scrollbar {
  display: none;
}
.article-set {
  flex: 0 0 100%;
  height: 300px;
  scroll-snap-align: start;
  overflow-x: hidden;
  white-space: normal;
  vertical-align: top;
  display: flex;
  justify-content: center;
  align-items: center;
}
.article {
  flex-shrink: 0;
  width: 250px;
  height: 240px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  background-color: var(--articlebg);
  border-radius: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.article img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}
.article h3 {
  width: 100%;
  margin: 10px 0;
  font-size: 14px;
  font-weight: 700;
  color: var(--md-default-fg-color);
}

.navigation-arrows {
  position: relative;
  top: -1em;
  width: 975px;
  margin: auto;
}
.navigation-arrows button {
  color: var(--md-default-fg-color);
  border: none;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
}
.dots-container {
  position: relative;
  top: -3em;
  left: 24em;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.dot {
  width: 9px;
  height: 9px;
  background-color: var(--md-default-fg-color--lighter);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.dot.active {
  background-color: var(--md-default-fg-color);
}

@media (min-width: 68em) {
  .stuff {
    display: flex;
    height: 100%;
    min-height: 40em;
  }
}
.stuff > *:first-child {
  position: relative;
  height: 23.5em;
}
@media (min-width: 30em) {
  .stuff > *:first-child {
    height: 23.5em;
  }
}
@media (min-width: 68em) {
  .stuff > *:first-child {
    flex-basis: 50%;
    max-width: 50%;
    height: auto;
  }
}
@media (min-width: 35em) {
  .stuff > *:last-child {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (min-width: 76.5em) {
  .stuff > *:last-child {
    flex-basis: 85%;
    max-width: 85%;
  }
}

@media (min-width: 68em) {
  .sidebarsmall {
    display: none;
  }
}

@media (max-height: 40em) {
  .sidebar {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
  }
}

@media (max-width: 125.1em) {
  .instafeed {
    height: 32.5em;
  } 
}

@media (max-width: 100em) {
  .instafeed {
    height: 34em;
  } 
}

@media (max-width: 76em) {
  .instafeed {
    height: 34em;
  } 
}

@media (max-width: 72.3em) {
  .instafeed {
    height: 24em;
  } 
}

@media (max-width: 68em) {
  .sidebar {
    position: absolute;
    top: -25px;
    left: 0;
  }
  .sidebarsmall {
    display: visible;
  }
  .sidebarlarge {
    display: none;
  }
  .instafeed {
    height: 61vw;
  } 
}

@media (max-width: 59.892857142857146em) {
  .instafeed {
    height: 64vw;
  } 
}

@media (max-width: 52em) {
  .instafeed {
    height: 67vw;
  } 
}

@media (max-width: 49.69em) {
  .instafeed {
    height: 50vw;
  } 
}

@media (max-width: 41.1em) {
  .instafeed {
    height: 42vw;
  } 
  .instatext {
    display: none;
  }
}

.scrollDown .md-header {
  transform: translate3d(0, -100%, 0);
  }
  .scrollUp .md-header {
  transform: none;
  }
  :root {
  --duration: 1s;
  --nav-duration: calc(var(--duration) / 4);
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --space: 1rem;
  --font-size: 1.125rem;
  --line-height: 1.5;
  --inputicon: hsla(0, 0%, 0%, 0.87);
  --toggledinputicon: white;
  --formbg: hsla(0, 0%, 0%, 0.25);
  --formhover: hsla(0, 0%, 0%, 0.32);
  --toggledform: hsla(0, 0%, 100%, 0.12);
  --toggledformhover: hsla(0, 0%, 100%, 0.3);
  --avatar: url("../../images/index/avatardark.svg");
  --quote: url("../../images/index/quote/");
  --articlebg: hsla(0, 0%, 0%, 0.04);
  }
  [data-md-color-scheme="slate"] {
  /*--md-default-bg-color: hsla(228, 7%, 14%, 1);*/
      --inputicon: white;
      --toggledinputicon: hsla(0, 0%, 0%, 0.87);
      --formhover: hsla(0, 0%, 100%, 0.3);
      --toggledform: hsla(0, 0%, 0%, 0.2);
      --toggledformhover: hsla(0, 0%, 0%, 0.32);
      --avatar: url("../../images/index/avatarlight.svg");
      --quote: url("../../images/index/quote/");
      --articlebg: hsl(234, 76%, 95%, 0.04)
  }
  @media screen and (min-width: 60em) {
  .md-sidebar--secondary {
      display: none;
  }
  }
  @media screen and (min-width: 76.25em) {
  .md-sidebar--primary {
      display: none;
  }
  }
  .md-banner {
  position: relative;
  z-index: 3;
  }
  main {
  margin-top: -7em;
  position: relative;
  z-index: 2;
  }
  section {
  height: auto;
  z-index: 2;
  }
  .md-sidebar {
  width: 0px;
  }
  .md-footer {
  display: none;
  } 
  .md-main__inner {
  margin: 0;
  }
  .md-source {
  color: var(--md-default-fg-color);  
  }
  .toggle .logo {
  display: none;
  }
  .toggle .socialsparent {
  display: none;
  }
  .close {
  display: none;
  }
  .toggle .close {
  display: flex;
  }
  .toggle .menu {
  display: none;
  }
  .md-header__button.md-icon[for="__search"] {
  color: var(--md-default-fg-color); 
  }
  .toggle .md-header__button.md-icon[for="__search"] {
  color: var(--md-default-bg-color);
  }
  .md-search__input + .md-search__icon {
  color: var(--inputicon);
  }
  .toggle .md-search__input + .md-search__icon {
  color: var(--toggledinputicon);
  }
  .md-search__form {
  background-color: var(--formbg);
  }
  .md-search__form:hover {
  background-color: var(--formhover);
  }
  .toggle .md-search__form {
  background-color: var(--toggledform);
  }
  .toggle .md-search__form:hover {
  background-color: var(--toggledformhover);
  }
  header{
  padding-top: 1.5em;
  }
  .menu {
  color: var(--md-default-fg-color);
  }
  .close {
  color: var(--md-default-bg-color);
  }
  .md-header__option {
  color: var(--md-default-fg-color);
  }
  .toggle .md-header__option {
  color: var(--md-default-bg-color);
  }
  .md-header[data-md-state=shadow]{
  box-shadow:0 0 0 rgba(0,0,0,0),0 0 0 rgba(0,0,0,0);
  }
  .md-header {
  background: none;
  box-shadow:0 0 0 transparent,0 0 0 transparent;
  }
  .md-tabs {
  display: none;
  }
  .logo {
  padding-left: 0;
  }
  html.has-scroll-smooth {
  overflow: hidden; }
  html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .has-scroll-smooth body {
  overflow: hidden; }
  .has-scroll-smooth [data-scroll-container] {
  min-height: 100vh; }
  [data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap; }
  [data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%; }
  .head {
  height: 72em;
  }
  .main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform var(--nav-duration);
  background-color: var(--md-default-fg-color);
  z-index: 3;
  }
  .main-navigation:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  transform-origin: 0 50%;
  z-index: 3;
  }
  .main-navigation ul {
  font-size: 9vmin;
  width: 100%;
  z-index: 4;
  }
  .main-navigation li {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 4;
  }
  .main-navigation li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1vmin;
  background-color: inherit;
  transform-origin: 0 50%;
  transform: translateX(-100%) skew(15deg);
  z-index: 4;
  }
  .main-navigation a {
  display: inline-block;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  color: var(--md-default-bg-color);
  line-height: 1.08;
  text-decoration: none;
  user-select: none;
  padding: auto;
  transform: translateY(100%);
  z-index: 4;
  }
  .main-content {
  z-index: 1;
  }
  .main-navigation a.home:hover {
  color: #5466CE;
  font-style: italic;
  }
  .main-navigation a.about:hover {
  color: #5466CE;
  font-style: italic;
  }
  .main-navigation a.proj:hover {
  color: #5466CE;
  font-style: italic;
  }
  .main-navigation a.mach:hover {
  color: #5466CE;
  font-style: italic;
  }
  .main-navigation a.fab:hover {
  color: #5466CE;
  font-style: italic;
  }
  .navnum {
  font-size:0.35em;
  font-weight: lighter;
  font-style: italic;
  }
  .toggle .main-navigation {
  transition-duration: 0.35;
  transform: translateX(0);
  }
  .toggle .main-navigation a {
  animation: link-appear calc(var(--duration) * 1.5) var(--ease) forwards;
  }
  @keyframes link-appear {
  0%, 25% {
      transform: translateY(100%);
  }
  50%, 100% {
      transform: translateY(0);
  }
  }
  @media (max-width: 76em) {
  .logo {
      padding-left: 1em;
  }
  }
  @media (max-width: 45em) {
  .logo {
      padding-left: 1em;
  }
  header{
      padding-top: 1.25em;
  }
  }
  @media (max-width: 59.892857142857146em) {
  .toggle .md-search__icon.md-icon:first-of-type {
      color: var(--md-default-fg-color);
  }
  }
  @media (min-width: 59.892857142857146em) {
  .md-grid {
      margin-left: auto;
      margin-right: auto;
      max-width: 100vw;
  }
  .md-header__inner {
      margin-left: 5vw;
      margin-right: 5vw;
  }
  }
  @media (min-width: 120.07142857142857em) {
      .content {
      width: 1800px;
      margin: auto;
          }
  }
  @media (max-width: 86.3125em) {
      .content {
      width: 885px;
      margin: auto;
      }
  }