 .insta {
    color: #c200fd;
  }
 .twitter {
    color: #1DA1F2;
  }
 .linkedin {
    color:rgb(0, 119, 183);
  }
 .github {
    color: #5e5e5e;
  }
 .prusa {
    color: #ff6633
  }

  