:root {
    --lightdisplaystyle: inline;
    --darkdisplaystyle: none;
  }

[data-md-color-scheme="slate"] {
    --lightdisplaystyle: none;
    --darkdisplaystyle: inline;
}

@media (max-width: 400px) {
  .announcelarge {
    display: none;
  }
}

.stuff {
  height: 100%;
  width: 100%;
}

.stuff__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
  overflow-y: auto;
}

.stuff__content {
  padding: 2em 0;
}

.stuff__header {
  overflow: hidden;
}

.stuff__content h2 {
  margin-top: 0px;
}

.sidebarparent {
  height: 100vh;
  width: 100%;
}

.sidebar {
  width: 100%;
  position: sticky;
  top: 112px;
  left: -22em;
  height: auto;
}

.sidebar h1 {
  margin-bottom: -37px;
}

.sidebar h2 {
  margin-bottom: -14px;
}

.profilepic {
  margin-bottom: -12px;
  width: 255px;
  height: 255px;
  border-radius: 50%;
}

.socials {
  margin-top: -25px;
}

.ln {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.fa-linkedin:hover {
    color: #0e76a8;
}

.git {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.fa-github:hover {
background: linear-gradient(155deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.yt {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.fa-youtube:hover {
  color:#FF0000;
}

.insta {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.fa-instagram:hover {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.twitter {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.fa-twitter:hover {
    color: #00acee;
}

.discord {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.fa-discord:hover {
    color: #5865F2;
}

.spotify {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.fa-spotify:hover {
    color: #1DB954;
}

.email {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.fa-paper-plane:hover {
    color: #5466ce;
}

.logo {
  float:left;
  height: 42px;
  margin-right: 7px;
}

.resume {
  float:right;
  margin-top: 9px;
}

.resume a {
  color: inherit;
}

.date{
  float:right;
  height: 50px;
  width: 100px;
  margin-top: 0px;
  margin-bottom: -45px;
  text-align: right;
}

.underline{
  height: 4.5px;
  width: 55px;
  background-color: #5466ce;
  margin-top: -35px;
  border-radius: 5px;
}

.instafeed {
  margin-top: -1em;
  height: 31.3em;
  overflow-y: hidden;
} 

.instalight {
  display: var(--lightdisplaystyle);
}

.instadark {
  display: var(--darkdisplaystyle);
}

.music {
   margin-bottom: -50px;
}

.coffeelarge {
    width: 175px;
    height: 35px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin-top: 12px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    background-image: linear-gradient(315deg, #7183f0, #5466ce, #000000, #000000);
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.coffeesmall {
    width: 35px;
    height: 35px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin-top: 12px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    background-image: linear-gradient(315deg, #7183f0, #5466ce, #000000, #000000);
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.coffeelarge:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.coffeesmall:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}



@media (min-width: 68em) {
  .stuff {
    display: flex;
    height: 100%;
    min-height: 40em;
  }
}
.stuff > *:first-child {
  position: relative;
  height: 23.5em;
}
@media (min-width: 30em) {
  .stuff > *:first-child {
    height: 23.5em;
  }
}
@media (min-width: 68em) {
  .stuff > *:first-child {
    flex-basis: 50%;
    max-width: 50%;
    height: auto;
  }
}
@media (min-width: 35em) {
  .stuff > *:last-child {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (min-width: 76.5em) {
  .stuff > *:last-child {
    flex-basis: 85%;
    max-width: 85%;
  }
}

@media (min-width: 68em) {
  .coffeesmall {
    display: none;
  }
}

@media (max-height: 40em) {
  .sidebar {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
  }
}

@media (max-width: 125.1em) {
  .instafeed {
    height: 32.5em;
  } 
}

@media (max-width: 100em) {
  .instafeed {
    height: 34em;
  } 
}

@media (max-width: 76em) {
  .instafeed {
    height: 34em;
  } 
}

@media (max-width: 72.3em) {
  .instafeed {
    height: 24em;
  } 
}

@media (max-width: 68em) {
  .sidebar {
    position: absolute;
    top: -25px;
    left: 0;
  }
  .coffeesmall {
    position: absolute;
    top: -16px;
    right: 0;
  }
  .coffeelarge {
    display: none;
  }
  .instafeed {
    height: 61vw;
  } 
}

@media (max-width: 59.892857142857146em) {
  .instafeed {
    height: 64vw;
  } 
}

@media (max-width: 52em) {
  .instafeed {
    height: 67vw;
  } 
}

@media (max-width: 49.69em) {
  .instafeed {
    height: 50vw;
  } 
}

@media (max-width: 41.1em) {
  .instafeed {
    height: 42vw;
  } 
  .instatext {
    display: none;
  }
}