.scrollDown .md-header {
    transform: translate3d(0, -100%, 0);
  }

  .scrollUp .md-header {
    transform: none;
  }

  :root {
    --duration: 1s;
    --nav-duration: calc(var(--duration) / 4);
    --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
    --space: 1rem;
    --font-size: 1.125rem;
    --line-height: 1.5;
    --inputicon: hsla(0, 0%, 0%, 0.87);
    --toggledinputicon: white;
    --formbg: hsla(0, 0%, 0%, 0.25);
    --formhover: hsla(0, 0%, 0%, 0.32);
    --toggledform: hsla(0, 0%, 100%, 0.12);
    --toggledformhover: hsla(0, 0%, 100%, 0.3);
    --avatar: url("../../images/index/avatardark.svg");
    --quote: url("../../images/index/quote/");
    --articlebg: hsla(0, 0%, 0%, 0.04);
  }

  [data-md-color-scheme="slate"] {
    /*--md-default-bg-color: hsla(228, 7%, 14%, 1);*/
      --inputicon: white;
      --toggledinputicon: hsla(0, 0%, 0%, 0.87);
      --formhover: hsla(0, 0%, 100%, 0.3);
      --toggledform: hsla(0, 0%, 0%, 0.2);
      --toggledformhover: hsla(0, 0%, 0%, 0.32);
      --avatar: url("../../images/index/avatarlight.svg");
      --quote: url("../../images/index/quote/");
      --articlebg: hsl(234, 76%, 95%, 0.04)
  }

  @media screen and (min-width: 60em) {
    .md-sidebar--secondary {
      display: none;
    }
  }

  @media screen and (min-width: 76.25em) {
    .md-sidebar--primary {
      display: none;
    }
  }

  section {
    height: 100vh;
    z-index: 2;
  }

  .md-sidebar {
    width: 0px;
  }

  .preloader {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 700px;
    z-index: 99999999 !important;
  }

  .preloaderbg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99999998 !important;
    background-color: white;
    background-position: center;
  }

  .md-footer {
    position: absolute;
    top: -200em;
  } 

  .md-main__inner {
    margin: 0;
  }

  .md-source {
    color: var(--md-default-fg-color);  
  }

  .toggle .logo {
    display: none;
  }

  .toggle .socialsparent {
    display: none;
  }

  .close {
    display: none;
  }

  .toggle .close {
    display: flex;
  }

  .toggle .menu {
    display: none;
  }

  .md-header__button.md-icon[for="__search"] {
    color: var(--md-default-fg-color); 
  }

  .toggle .md-header__button.md-icon[for="__search"] {
    color: var(--md-default-bg-color);
  }

  .md-search__input + .md-search__icon {
    color: var(--inputicon);
  }

  .toggle .md-search__input + .md-search__icon {
    color: var(--toggledinputicon);
  }

  .md-search__form {
    background-color: var(--formbg);
  }

  .md-search__form:hover {
    background-color: var(--formhover);
  }

  .toggle .md-search__form {
    background-color: var(--toggledform);
  }

  .toggle .md-search__form:hover {
    background-color: var(--toggledformhover);
  }

  header{
    padding-top: 1.5em;
  }

  .menu {
    color: var(--md-default-fg-color);
  }

  .close {
    color: var(--md-default-bg-color);
  }

  .md-header__option {
    color: var(--md-default-fg-color);
  }

  .toggle .md-header__option {
    color: var(--md-default-bg-color);
  }

  .md-header[data-md-state=shadow]{
    box-shadow:0 0 0 rgba(0,0,0,0),0 0 0 rgba(0,0,0,0);
  }

  .md-header {
    background: none;
    box-shadow:0 0 0 transparent,0 0 0 transparent;
  }

  .md-tabs {
   display: none;
  }

  .logo {
    padding-left: 0;
  }

  html.has-scroll-smooth {
    overflow: hidden; }
  
  html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  
  .has-scroll-smooth body {
    overflow: hidden; }
  
  .has-scroll-smooth [data-scroll-container] {
    min-height: 100vh; }
  
  [data-scroll-direction="horizontal"] [data-scroll-container] {
    height: 100vh;
    display: inline-block;
    white-space: nowrap; }
  
  [data-scroll-direction="horizontal"] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%; }

.head {
  height: 72em;
}
 
.avatarpar {
  width: 100%;
  height: 85vh;
  z-index: 2;
}

.avatar {
  content: var(--avatar);
  pointer-events: none;
  margin-bottom: -1em;
  width: 550px;
  opacity: 0.9;
}

.introabt {
  float: right;
  margin-right: 1.2em;
  width: 48em;
}

.introabt h3 {
  margin-left: 0.35em;
  width: 93%;
}

#circle { 
  top: -6em;
  left: 35.5em;
  position: relative; 
  padding-bottom: 100%; 
  overflow: hidden; 
}

.abtbtn {
  width: 92px;
  height: 92px;
}

#circle text { 
  font-family: 'Fira Sans', sans-serif; 
  font-size: 17.6px; 
  font-weight: 500;
}

.textrev { 
  position: absolute; 
  left: 0; 
  top: 0; 
  overflow: hidden;
  animation: rightrev 5s linear 0s infinite normal;
}

.revleft .textrev{ 
  animation: leftrev 5s linear 0s infinite normal;
}

@keyframes leftrev {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes rightrev {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

  .main-navigation {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform var(--nav-duration);
    background-color: var(--md-default-fg-color);
    z-index: 3;
  }

  .main-navigation:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    transform-origin: 0 50%;
    z-index: 3;
  }
  .main-navigation ul {
    font-size: 9vmin;
    width: 100%;
    z-index: 4;
  }
  .main-navigation li {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 4;
  }
  .main-navigation li:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1vmin;
    background-color: inherit;
    transform-origin: 0 50%;
    transform: translateX(-100%) skew(15deg);
    z-index: 4;
  }
  .main-navigation a {
    display: inline-block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    color: var(--md-default-bg-color);
    line-height: 1.08;
    text-decoration: none;
    user-select: none;
    padding: auto;
    transform: translateY(100%);
    z-index: 4;
  }

  .main-content {
    z-index: 1;
  }

  .home:hover {
    color: #5466CE;
    font-style: italic;
  }

  .about:hover {
    color: #5466CE;
    font-style: italic;
  }

  .proj:hover {
    color: #5466CE;
    font-style: italic;
  }

  .mach:hover {
    color: #5466CE;
    font-style: italic;
  }

  .fab:hover {
    color: #5466CE;
    font-style: italic;
  }

  .navnum {
    font-size:0.35em;
    font-weight: lighter;
    font-style: italic;
  }

  .abtparent {
    position: absolute;
    top: 98%;
    -ms-transform: translateY(-35%);
    transform: translateY(-35%);
    right: 7.5em;
    height: 1.3em;
    color: inherit;
  }

  .abtparent a {
    font-weight: 400;
    font-size: 1.3em;
    color: inherit;
    display: inline-block;
    position: relative;
  }

  .abtparent a:hover {
    color: var(--md-default-fg-color); 
  }

  .abtparent a:after {
    font-weight: 400;
    content: "-->";
    margin-left: -10px;
    opacity: 0;
    vertical-align: middle;
    transition: margin 0.3s, opacity 0.3s;
  }

  .abtparent a:hover:after {
    margin-left: 5px;
    opacity: 1;
  }

  .funnyworm {
    position: relative;
    height: 0;
    width: 106vw;
    overflow: visable;
    top: 4em;
    left: 28em;
  }

  .hole1{
    position: absolute;
    top: 4em;
    left: 15em;
  }

  .hole2{
    position: absolute;
    top: 14em;
    left: 57em;
  }

  @font-face {
      font-family: RoughJore;
      src: url(../fonts/Jore-BF648d4888a57c3.ttf);
  }

  svg.svgwave {
      width: 100%;
      height: auto;
      overflow: visible;
  }

  svg.svgwave path {
      fill:transparent;
      transform: translate(248.25 45.416);
  }

  svg.svgwave text {
      font-size:2em;
      font-family: 'RoughJore';
      font-weight: normal;
      font-style: normal;
      fill: url("#grad");
  }

  .featured-projects {
    height: 75em;
    width: 100%;
  }

  @font-face {
    font-family: Romalika;
    src: url(../fonts/ROMALIKA.OTF);
  }

  .featured-projects h2 {    
    position: relative;
    top: -0.5em;
    left: -1em;
    font-family: Romalika;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
  }
  
  .grid {
    position: relative;
    top: -30em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    width: 100%;
    margin: auto;
  }

  .projparent{
    position: relative;
    width: 1380px;
    height: 1669px;
    margin: 0 auto;
  }
  
  .project {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    -webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);
    filter: brightness(100%);
    transition: all 0.3s ease;
  }
  
  .project.shadowbox {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .project:hover {
    transform: translateY(-5px);
    -webkit-filter: brightness(45%);
    -moz-filter: brightness(45%);
    filter: brightness(45%);
  }
  
  .p1 {
    background-image: url("https://teddywarner.org/images/AdaptableAquaponics/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    position: absolute;
    width: 616px;
    height: 387.2px;
    top: -5%;
    left: 3.75%;
    margin: 15px;
  }
  
  .p2 {
    position: absolute;
    top: -13.5%;
    left: 49.5%;
    width: 560.762px;
    height: 657.25px;
    border-radius: 25px;
    background-color: transparent;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.1));
    -webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);
    filter: brightness(100%);
    transition: all 0.3s ease;
    margin: 15px;
  }

  .p2 svg {
    width: 560.762px;
    height: 657.25px;
  }
  
  .p3 {
    background-image: url("https://teddywarner.org/images/ParametricGenerator/beautyshot1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    position: absolute;
    top: 20%;
    left: 15.75%;
    width: 668.8px;
    height: 457.6px;
    border-radius: 35px;
    margin: 15px;
  }

  .p4 {
    background-image: url("https://teddywarner.org/images/SerialUPDI/ftdi2updisolderedtop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    position: absolute;
    top: 28%;
    left: 66%;
    width: 316.8px;
    height: 387.2px;
    border-radius: 15px;
    margin: 15px;
  }

  .p5 {
    background-image: url("https://content.instructables.com/F9A/5P7G/L3OGGX2A/F9A5P7GL3OGGX2A.jpg?auto=webp&frame=1&width=1024&height=1024&fit=bounds&md=ce684af69ce80aea9ef251592d0606da");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    position: absolute;
    top: 2%;
    left: 91%;
    width: 316.8px;
    height: 528px;
    border-radius: 48%;
    margin: 15px;
  }

  .newcheck {
    width: 81px;
    position: relative;
    top: -15.5%;
    left: -24em;
  }

  #circle1 { 
    width: 200px;
    top: 33%;
    left: -85%;
    position: relative; 
    padding-bottom: 100%; 
    overflow: hidden; 
  }
  
  #circle1 text { 
    font-family: 'Fira Sans', sans-serif; 
    font-size: 17.6px; 
    font-weight: 500;
  }

  .featured-articles {
    position: relative;
    top: -21em;
    height: 18em;
    width: 100%;
  }
  
  .featured-articles h2 {
    position: relative;
    top: 1em;
    font-family: Romalika;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
  }
  
  .article-scroller {
    width: 100%;
    height: auto;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-left: 20px;
  }
  
  .article-scroller::-webkit-scrollbar {
    display: none;
  }
  
  .article-set {
    flex: 0 0 100%;
    height: 300px;
    scroll-snap-align: start;
    overflow-x: hidden;
    white-space: normal;
    vertical-align: top;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .article {
    flex-shrink: 0;
    width: 320px;
    height: 250px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background-color: var(--articlebg);
    border-radius: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .article img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .article h3 {
    width: 100%;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 700;
    color: var(--md-default-fg-color);
  }

  .navigation-arrows {
    position: relative;
    top: -1em;
    width: 975px;
    margin: auto;
  }
  
  .navigation-arrows button {
    color: var(--md-default-fg-color);
    border: none;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
  }

  .dots-container {
    position: relative;
    top: -3em;
    left: 24em;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .dot {
    width: 9px;
    height: 9px;
    background-color: var(--md-default-fg-color--lighter);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  .dot.active {
    background-color: var(--md-default-fg-color);
  }

  .toggle .main-navigation {
    transition-duration: 0.35;
    transform: translateX(0);
  }

  .toggle .main-navigation a {
    animation: link-appear calc(var(--duration) * 1.5) var(--ease) forwards;
  }

  @keyframes link-appear {
    0%, 25% {
      transform: translateY(100%);
    }
    50%, 100% {
      transform: translateY(0);
    }
  }

  @media (max-width: 76em) {
    .logo {
      padding-left: 1em;
    }
  }
  
  @media (max-width: 45em) {
    .logo {
      padding-left: 1em;
    }
    header{
      padding-top: 1.25em;
    }
    .preloader {
      width: 300px;
    }
  }

  @media (max-width: 59.892857142857146em) {
    .toggle .md-search__icon.md-icon:first-of-type {
      color: var(--md-default-fg-color);
    }
    .preloader {
      width: 500px;
    }
  }

  @media (max-width: 55.357142857142854em) {
    .introabt {
      float: left;
      margin-left: 2%;
      margin-right: 2%;
      width: 96%;
    }
    .introabt h2 {
      font-size: 1.3em;
    }
    .introabt h3 {
      font-weight: 425;
      font-size: 1em;
    }
  }

   @media (min-width: 59.892857142857146em) {
    .md-grid {
      margin-left: auto;
      margin-right: auto;
      max-width: 100vw;
    }
    .md-header__inner {
      margin-left: 5vw;
      margin-right: 5vw;
    }
  }

  @media (min-width: 120.07142857142857em) {
    .content {
      width: 1800px;
      margin: auto;
    }
    .featured-projects h2 {    
      top: -1.2em;
      left: -1em;
    }
    .newcheck {
      left: -22em;
    }
  }
  
  @media (max-width: 100.96428571428571em) {
    .content {
      width: 1413.5px;
      margin: auto;
    }
    .funnyworm {
      width: 106vw;
      top: 4em;
      left: 30em;
    }
    .featured-projects h2 {    
      top: -0.5em;
      left: -1em;
    }
    .p1 {
      width: 431.2px;
      height: 271.04px;
      top: -7.5%;
      left: 1%;
    }
    .p2 {
      top: -13.5%;
      left: 33%;
      width: 392.5334px;
      height: 460.075px;
    }
    .p2 svg {
      width: 392.5334px;
      height: 460.075px;
    }
    .p3 {
      top: 10%;
      left: 9.25%;
      width: 468.16px;
      height: 320.32px;
    }
    .p4 {
      top: 15.5%;
      left: 45%;
      width: 221.76px;
      height: 271.04px;
    }
    .p5 {
      top: -2%;
      left: 62%;
      width: 221.76px;
      height: 369.6px;
    }
    .newcheck {
      top: -16em;
      left: -51.5em;
    }
    #circle1 { 
      top: 19.5%;
      left: -36em;
    }
    .featured-articles {
      top: -30em;
    }
  }
  
  @media (max-width: 86.3125em) {
    .content {
      width: 885px;
      margin: auto;
    }
    .funnyworm {
      width: 115vw;
      top: 34em;
      left: 34em;
      transform: rotate(38deg);
    }
    .article{
      width: 250px;
      height: 240px;
    }
    .article h3 {
      font-size: 14px;
      font-weight: 700;
    }
    .featured-projects h2 {    
      top: -14em;
      left: -8.25em;
    }
    .p1 {
      width: 396.704px;
      height: 249.357px;
      top: -7.5%;
      left: -8%;
    }
    .p2 {
      top: -13%;
      left: 21.5%;
      width: 361.131px;
      height: 423.269px;
    }
    .p2 svg {
      width: 361.131px;
      height: 423.269px;
    }
    .p3 {
      top: 8.5%;
      left: -0.5%;
      width: 430.707px;
      height: 294.6944px;
    }
    .p4 {
      top: 13.5%;
      left: 32.5%;
      width: 204.019px;
      height: 249.357px;
    }
    .p5 {
      top: -3%;
      left: 48.5%;
      width: 204.019px;
      height: 340.032px;
    }
    .newcheck {
      width: 65px;
      top: -15em;
      left: -63em;
    }
    #circle1 { 
      top: 18%;
      left: -47em;
    }
    .featured-articles {
      top: -30em;
    }
  }

  @media (max-width: 70.75em) {
    .funnyworm {
      width: 122vw;
      top: 38em;
      left: 29em;
      transform: rotate(45deg);
    }
    .article{
      width: 250px;
      height: 240px;
    }
    .article h3 {
      font-size: 14px;
      font-weight: 700;
    }
    .featured-projects h2 {    
      top: -14em;
      left: -7.5em;
    }
    .p1 {
      width: 364.968px;
      height: 229.4084px;
      top: -7.5%;
      left: -4%;
    }
    .p2 {
      top: -12.5%;
      left: 22.5%;
      width: 332.2405px;
      height: 389.4075px;
    }
    .p2 svg {
      width: 332.2405px;
      height: 389.4075px;
    }
    .p3 {
      top: 7.25%;
      left: 2.5%;
      width: 396.2504px;
      height: 271.119px;
    }
    .p4 {
      top: 11.75%;
      left: 32.5%;
      width: 187.6975px;
      height: 229.4084px;
    }
    .p5 {
      top: -4%;
      left: 46.75%;
      width: 187.6975px;
      height: 312.8294px;
    }
    .newcheck {
      width: 65px;
      top: -14em;
      left: -64em;
    }
    #circle1 { 
      top: 14%;
      left: -48.5em;
    }
    .featured-articles {
      top: -30em;
    }
  }

  @media (max-width: 68.3125em) {
    .funnyworm {
      width: 125vw;
    }
    .featured-projects h2 {    
      top: -14em;
      left: -6.5em;
    }
    .p1 {
      top: -7.5%;
      left: -1%;
    }
    .p2 {
      top: -12.5%;
      left: 25.5%;
    }
    .p3 {
      top: 7.25%;
      left: 5.5%;
    }
    .p4 {
      top: 11.75%;
      left: 35.5%;
    }
    .p5 {
      top: -4%;
      left: 49.75%;
    }
    .newcheck {
      width: 65px;
      top: -14em;
      left: -61em;
    }
    #circle1 { 
      top: 14%;
      left: -46.5em;
    }
    .featured-articles {
      top: -30em;
    }
  }

  @media (max-width: 65em) {
    .funnyworm {
      width: 132vw;
    }
    .featured-projects h2 {    
      top: -14em;
      left: -7em;
    }
    .p1 {
      width: 328.471px;
      height: 206.4676px;
      top: -7.5%;
      left: -1%;
    }
    .p2 {
      top: -12%;
      left: 23%;
      width: 299.0165px;
      height: 350.467px;
    }
    .p2 svg {
      width: 299.0165px;
      height: 350.467px;
    }
    .p3 {
      top: 6%;
      left: 5%;
      width: 356.6254px;
      height: 244.007px;
    }
    .p4 {
      top: 10%;
      left: 32%;
      width: 168.9278px;
      height: 206.4676px;
    }
    .p5 {
      top: -4%;
      left: 45%;
      width: 168.9278px;
      height: 281.5465px;
    }
    .newcheck {
      width: 65px;
      top: -13.5em;
      left: -66em;
    }
    #circle1 { 
      top: 13%;
      left: -50em;
    }
    .featured-articles {
      top: -35em;
    }
  }

  @media (max-width: 63em) {
    .funnyworm {
      width: 135vw;
      top: 38em;
      left: 25em;
      transform: rotate(45deg);
    }
  }

  @media (max-width: 58em) {
    .funnyworm {
      width: 135vw;
      top: 33em;
      left: 22em;
      transform: rotate(45deg);
    }
  }

  @media (max-width: 50em) {
    main {
      height: 0;
    }
    .head {
      height: 300px;
    }
    .content {
      display: none;
    }
    .funnyworm {
      display: none;
    }
    .avatar {
      margin-bottom: -2em;
    }
    .featured-projects{
      display: none;
    }
    .featured-articles {
      display: none;
    }
    .footer{
      display: none;
    }
  }

